
html {
  overflow-x: hidden;
}
body {
  background: #fff;
  overflow-x: hidden;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 24px;
}
 {
   vertical-align: middle;
   max-width: 100%;
   height: auto;
}
#banner{
    height: 380px;
    width:100%;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=##15A216,endColorStr=#fafafa); /*IE*/   
    background:-moz-linear-gradient(top,#15A216,#fafafa);/*火狐*/   
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#15A216), to(#fafafa));/*谷歌*/   
   
    background-image: -webkit-gradient(linear,left bottom,left top,color-start(0, #15A216),color-stop(1, #fafafa));/* Safari & Chrome*/  
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#15A216', endColorstr='#fafafa'); /*IE6 & IE7*/  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#15A216', endColorstr='#fafafa')"; /* IE8 */  

    text-align: center;
    position: relative;
    vertical-align:middle;
    padding: 40px;
    overflow: hidden;
    margin-top:110px;
}
#banner p ,#banner h1{
    margin: auto;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    border-width: 0px;
    letter-spacing: 0px;
    visibility: visible;
    opacity: 1;
    color:#fff;
    -webkit-transform: none;
}
#banner p{
    z-index: 3;
    line-height: 26px;
    font-size: 30px;
   /* left: 574px;
    top: 105px;*/
    display: ;
    margin:30px auto;
}
#banner h1{
    z-index: 4;
    line-height: 54px;
    font-size: 90px;
   /* left: 462px;
    top: 178px;  */
}

#main_content_title{
    margin-bottom:70px;
    text-align:center;
}
#main_content_title h2{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin: 0 0 15px 0;
}
#main_content_title h4{
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 30px 0;
    font-weight: 400;
}
#main_content .feature {
    float: left;
    width: 22%;
    margin-bottom: 70px;
    margin-left: 4%;
    text-align: left;
}
#detail_nav{
    width: 250px;
    padding: 0 0 10px 0;
    bottom: 0px;
    min-height: 0px;
    overflow: hidden;
    position: fixed;
    display: block;
    right: 0px;
    top:110px;
}
.item-sub{
    padding-left: 2em;
}
.item-category{
    padding-left: 1em;
}
#detail_nav ul li{
    white-space: nowrap;
    line-height: 21px;
    padding-bottom: 2px;
    list-style: none;
    display: list-item;
/*    padding-left: 5px;*/
}
#detail_nav ul li:hover{
    border-left: solid 2px red;
    background-color: yellow;
    opacity: 0.8;
}
#detail_nav ul li a{
    display: block;
    color: #f4645f;
    -webkit-transition: all 0.1s 
}
/*.item-category{
    padding-left: 2px;
}*/
.item-category:first-child{
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
}

h1 {
    font-size: 36px;
    margin-top: 50px;
}

h2 {
    margin-top: 50px;
    font-size: 26px;
}
